.center {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

#del_acc {
  color: crimson;
}

/* Change some stuff if the user is on a mobile device. */
@media only screen and (max-width: 480px) {
  .tablemobile {
      overflow-x: auto;
      display: block;
  }
  img {
    width: 50%;
  }
}
