{% extends "layout.html" %}

{% block title %}
    Delete Account
{% endblock %}

{% block main %}
    <!-- See if any error was provided. -->
    {% if Error %}
        <div class="alert alert-danger" role="alert" dismissable>{{ Error }}</div>
    {% endif %}
        <!-- Form to confirm deregistration. -->
        <p>To confirm that you want to delete this Account, please input your username and password.</p>
        <form action="/deregister" method="post">
            <div class="mb-3">
                <input type="text" class="form-control mx-auto w-auto" autocomplete="off" autofocus id="username" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control mx-auto w-auto" name="password" id="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control mx-auto w-auto" name="password_confirmation" id="password_confirmation" placeholder="Password (again)">
            </div>
            <button class="btn btn-danger" type="submit">Delete Account</button>
        </form>
{% endblock %}