{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block main %}
        <!-- Form for selecting Exercise and difficulty. -->
        <form action="/exercises" method="POST">
            <div class="mb-3">
                <p>Select the exercise.</p>
                <select class="form-select mx-auto w-auto" name="exercise" required>
                    <option disabled selected value="">Exercise</option>
                    <option value="Absolute">Absolute</option>
                    <option value="Intervals">Intervals</option>
                </select>
            </div>
            <div class="mb-3">
                <p>Select the difficulty</p>
                <select class="form-select mx-auto w-auto" name="difficulty" required>
                    <option disabled selected value="">Difficulty</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>
{% endblock %}