{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <!--Some Explanation stuff-->
    <h1>What is Eartraining?</h1>
    <p>This website was made so that people could have an automated way of practicing their hearing, <br> 
    this is especially useful to musicians who because of their studies need to be able to distinctively <br> 
    identify different Notes and Intervals.</p>
    
    <h1>What exercises are there?</h1>
    <p>In Eartraining we have two different modes (Intervals and Absolute) with 3 different <br>
    difficulties (Easy, Medium, Hard).</p>

    <h1>What does the "Absolute" exercise consist of?</h1>
    <p>In the "Absolute" exercise the user must simply recognize (by hearing) the note that is being played. <br>
    As stated earlier there are three difficulties; Easy, Medium and Hard. The difference between the difficulties <br>
    lies in the number of notes that can be played and must therefore be recognized. <br>
    Of course in order to understand and practice here one must know the notes and their names, <br>
    for anyone who can´t read notes <a href="https://www.piano-keyboard-guide.com/music-note-names.html">here</a> is a guide to english notes, <br>
    and <a href="https://spanishboone.tumblr.com/post/80234724275/music-notes-in-spanish">here</a> is a guide to spanish notes.
    If you go to the "Sounds" section of this website you can also listen to any notes in particular.</p>

    <h1>How does the "Intervals" exercise work?</h1>
    <p>In the "Intervals" exercise 2 notes are selected and played one after another, and then together. <br> 
    The user´s task is going to be to recognize the Interval ("distance") between the 2 notes and <br>
    the direction (Ascending, Descending, Unison). <br>
    In order to complete this exercise the user must know how Intervals are named, here are some examples: <br>
    Do/C <img width="10%" src="../static/images/Do.png" alt="Do displayed on the scale"> to MI/E <img width="10%" src="../static/images/Mi.png" alt="Mi displayed on the scale"> 
    would be a Major third (M3/3M), since there are 2 full notes of difference. <br>
    To fully understand this, one must know that a Major second (M2/2M), would mean one full note <br>
    of difference (say DO/C and RE/D) and the minor second (m2/2m) would be half a note difference (say DO/C and DO#/#). <br>
    If you don´t know all Interval names, or you want to listen to any Interval in particular you can go to the "Sounds" section <br>
    of this website.</p>
{% endblock %}