{% extends 'layout.html' %}

{% block title %}
    Intervals
{% endblock %}

{% block main %}
    <!-- Check for difficulty setup variables accordingly. -->
    {% if difficulty == 'Easy' %}
        <script>
            possible_intervals = [0, 1, 2, 3, 4];
            difficulty = 'Easy';
        </script>
    {% elif difficulty == 'Medium' %}
        <script>
            possible_intervals = [0, 1, 2, 3, 4, 5, 7, 9, 11, 12];
            difficulty = 'Medium';
        </script>
    {% else %}
        <script>
            possible_intervals = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
            difficulty = 'Hard';
        </script>
    {% endif %}
    <!-- Get the winstreak from the last round. -->
    {% block javascript %}
        <script>
            var win_streak = {{ streak }};
        </script>
    {% endblock %}
    <!-- Response form. S-->
    <div class="mb-3" id="challenge">
        <img src="../static/images/NicePng_play-icon-png-transparent_3926192.png" id="play" alt="playbutton" height="100px">
        <form id='select'action="/resultcheck" method="POST">
            <p>Select the Interval that is being played.</p>
            <!-- Interval selector. -->
            <select class="form-select mx-auto w-auto mb-3" id="note" name="response" type="submit" required>
                <!-- Show different options depending on difficulty. -->
                <option value="" disabled selected>Interval</option> 
                <option value="U/P1">U/P1</option>
                <option value="2m/m2">2m/m2</option>               
                <option value="2M/M2">2M/M2</option>                            
                <option value="3m/m3">3m/m3</option>                            
                <option value="3M/M3">3M/M3</option>
                {% if difficulty != 'Easy' %}
                    <option value="4J/P4">4J/P4</option>
                    {% if difficulty == 'Hard' %}                           
                        <option value="4A/A4">4A/A4</option>
                    {% endif %}                            
                    <option value="5J/P5">5J/P5</option> 
                    {% if difficulty == 'Hard' %}                         
                        <option value="6m/m6">6m/m6</option>
                    {% endif %}                            
                    <option value="6M/M6">6M/M6</option>
                    {% if difficulty == 'Hard' %}                                
                        <option value="7m/m7">7m/m7</option>
                    {% endif %}                                
                    <option value="7M/M7">7M/M7</option>
                    <option value="8J/P8">8J/P8</option>
                {% endif %}  
            </select>
            <p>Select the direction in which the Interval is going.</p>
            <!-- Direction selector. -->
            <select class="form-select mx-auto w-auto mb-3" id="directionR" type="submit" name="response2" required>
                <option value="" disabled selected>Direction</option>
                <option id="asc_option" value="asc">Ascendente/Ascending</option>
                <option id="desc_option" value="desc">Descendente/Descending</option>
                <option id="uni_option" value="uni">Unísono/Unison</option>
            </select>
            <input type="submit">
            <!-- A few hidden inputs for result displaying. -->
            <input id="result_submission" type="hidden" name="result" value="">
            <input id="note_submission" type="hidden" name="submitted_distance" value="">
            <input id="direction_submission" type="hidden" name="submitted_direction" value="">
            <input id="streak" type="hidden" name="streak" value="">
            <input type="hidden" name="mode" value="Intervals">
            <input type="hidden" name="difficulty" value="{{ difficulty }}">
            <input type="hidden" id="correct_note" name="correct_note" value="">
            <input type="hidden" id="correct_note2" name="correct_note2" value="">
            <input type="hidden" id="correct_distance" name="correct_distance">
            <input type="hidden" id="correct_direction" name="correct_direction">
            <input id="image_nmb" type="hidden" name="correct_img_nmb" value="">
            <input id="image_nmb2" type="hidden" name="correct_img_nmb2" value="">
        </form>
    </div>
    <!-- Actual script. -->
    <script>
        // Get select forms.
        var direction_selector = document.getElementById('directionR');
        var interval_selector = document.getElementById("note");
        // Generate sounds.
        var sound2 = new Audio();
        var sound = new Audio();
        // Random number variables for the sounds.
        var randomnumber = 0;
        var randomnumber2 = 0;
        // Setup n.
        n = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
        // Array for the different note names.
        var note_names = ['Do/C', 'Do#/C#', 'Re/D', 'Re#/D#', 'Mi/E', 'Fa/F', 'Fa#/F#', 'Sol/G', 'Sol#/G#', 'La/A', 'La#/A#', 'Si/B', 'Do2/C2'];
        // Playbutton variable.
        var playbutton = document.getElementById("play");
        // Array for the different audios.
        var notes = new Array('../static/sounds/piano/Do.mp3', '../static/sounds/piano/DoS.mp3', '../static/sounds/piano/Re.mp3', 
                '../static/sounds/piano/ReS.mp3', '../static/sounds/piano/Mi.mp3', '../static/sounds/piano/Fa.mp3', '../static/sounds/piano/FaS.mp3', 
                '../static/sounds/piano/Sol.mp3', '../static/sounds/piano/SolS.mp3', '../static/sounds/piano/La.mp3', '../static/sounds/piano/LaS.mp3', 
                '../static/sounds/piano/Si.mp3', '../static/sounds/piano/Do2.mp3');
        // Generate randomnumber values.
        randomnumber = Math.floor(Math.random() * (n.length));
        randomnumber2 = Math.floor(Math.random() * (n.length));
        // Function that generates the Distance, direction, etc.
        generate_intervalues();
        // Assign sounds.
        sound = new Audio(notes[n[randomnumber]]);
        sound2 = new Audio(notes[n[randomnumber2]]);
        // Array of Interval names.
        var interval_names = ['U/P1', '2m/m2', '2M/M2', '3m/m3', '3M/M3', '4J/P4', '4A/A4', '5J/P5', '6m/m6', '6M/M6', '7m/m7', '7M/M7', '8J/P8'];
        // Variable for sound that is currently being played.
        var currentsound = sound;
        // Variable to see if the Interval playing has started.
        started = false;

        // Function that execute when a different Interval is selected.
        interval_selector.addEventListener("change", function() {
            // If the user selectes Unison, direction can only be uni.
            if (interval_selector.value == "U/P1")
            {
                direction_selector.value = "uni";
                document.getElementById("asc_option").style.display = "none";
                document.getElementById("desc_option").style.display = "none";
                document.getElementById("uni_option").style.display = "block";
            }
            // If the user selects anything different than unison, the direction cannot be uni.
            else 
            {
                if (direction_selector.value == "uni")
                {
                    direction_selector.value = "asc";
                }
                document.getElementById("asc_option").style.display = "block";
                document.getElementById("desc_option").style.display = "block";
                document.getElementById("uni_option").style.display = "none";
            }
        });

        // Function that executes when the Playbutton is clicked.
        playbutton.onclick = function() {
            // See if currently both sounds are being played.
            if (currentsound == 'both')
            {
                // Continue both sounds if they where paused.
                if (sound.paused)
                {
                    playbutton.src = "../static/images/Pause-Button-Transparent.png";
                    sound.play();
                    sound2.play();
                }
                // Pause both sounds if they are being played.
                else 
                {
                    playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                    sound.pause();
                    sound2.pause();
                }
            }
            // If only one sound is being played, see if its paused.
            if (currentsound.paused)
            {
                // If the Interval already started playing, continue playing the current sound.
                playbutton.src = "../static/images/Pause-Button-Transparent.png";
                if (started == true)
                {
                    currentsound.play();
                }
                // If the Interval did not start yet, start it.
                else
                {
                    // Play interval.
                    started = true;
                    currentsound = sound;
                    sound.addEventListener('ended', function() {
                        currentsound = sound2;
                        sound2.addEventListener('ended', function() {
                            currentsound = 'both';
                            sound.play();
                            sound2.play();
                            sound.addEventListener("ended", function() {
                                playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                                started = false;
                                currentsound = sound;
                                sound2.removeEventListener("ended");
                                sound.removeEventListener("ended");
                            }, {once : true});
                            sound2.addEventListener("ended", function() {
                                playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                                started = false;
                                currentsound = sound;
                                sound.removeEventListener("ended");
                                sound2.removeEventListener("ended");
                            }, {once : true});
                            sound2.removeEventListener("ended");
                        }, {once : true});
                        sound2.play();
                        sound.removeEventListener("ended");
                    }, {once : true});
                    sound.play();
                }
            }
            else
            {
                // In case the user wants to pause the playing.
                currentsound.pause();
                playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
            }
        };

        // Function that executes when the user submits his answer. 
        document.querySelector('form').addEventListener('submit', function() {
            let selected_interval = document.getElementById('note');
            let selected_direction = direction_selector.value;
            // Check if the submission was correct.
            if (selected_interval.value == interval_names[distance] && selected_direction == direction)  
                {
                    win_streak += 1;
                    document.getElementById("result_submission").value = "correct";
                }
                else
                {   
                    win_streak = 0;
                    document.getElementById("result_submission").value = "wrong";
                }
            // Populate values that get submitted to the "/result" route.
            document.getElementById("streak").value = win_streak;
            document.getElementById("note_submission").value = selected_interval.value;
            document.getElementById("correct_note").value = note_names[(n[randomnumber])];
            document.getElementById("correct_note2").value = note_names[(n[randomnumber2])];
            document.getElementById("image_nmb").value = (n[randomnumber]);
            document.getElementById("image_nmb2").value = (n[randomnumber2]);
            document.getElementById("correct_distance").value = interval_names[distance];
            document.getElementById("correct_direction").value = direction;
            document.getElementById("direction_submission").value = selected_direction;
        });



        // function that generates distance, direction etc.
        function generate_intervalues()
        {
            // See if the interval is ascending, descending or a unison.
            if (randomnumber < randomnumber2)
            {
                distance = randomnumber2 - randomnumber;
                direction = 'asc';
            }
            else if (randomnumber2 < randomnumber)
            {
                distance = randomnumber - randomnumber2;
                direction = 'desc';
            }
            else
            {
                distance = 0;
                direction = 'uni';
            }
            // Function that makes sure the current Interval is available in the current difficulty, and if not re-generates the interval.
            Interval_difficulty();
        }
        // Difficulty function.
        function Interval_difficulty()
        {
            // If the Interval is allowed in this difficulty, return.
            if (possible_intervals.includes(distance))
            {
                return;
            }
            // If not, re-generate the interval.
            else
            {
                randomnumber = Math.floor(Math.random() * (n.length));
                randomnumber2 = Math.floor(Math.random() * (n.length));
                generate_intervalues();
            }
        };
    </script>
{% endblock %}