{% extends "layout.html" %}

{% block title %}
    Leaderboards
{% endblock %}

{% block main %}
    <!-- Make sure leaderboards are provided. -->
    {% if leaderboards and leaderboards[0] %}
        <!-- Menu where the user can select which leaderboard he wants to see. -->
        <p>Select the Leaderboard that you want to see.</p>
        <select class="form-select mx-auto w-auto" id="selected_leaderboard">
            <option value="" disabled selected>Leaderboard</option>
            {% for leaderboard in leaderboards %}
                <option value="{{ leaderboard[0]['exercise'] }}_{{ leaderboard[0]['difficulty'] }}">{{ leaderboard[0]['exercise'] }}: {{ leaderboard[0]['difficulty'] }}</option>
            {% endfor %}
        </select>
        <!-- Generate tables for each leaderboard. -->
        {% for leaderboard in leaderboards %}
            <div id="{{ leaderboard[0]['exercise'] }}_{{ leaderboard[0]['difficulty'] }}">
                <h2>Exercise: {{ leaderboard[0]['exercise'] }} Difficulty: {{ leaderboard[0]['difficulty'] }}</h2>
                <table class="table tablemobile">
                    <thead>
                        <tr>
                            <th class="text-start">User</th>
                            <th class="text-end">Highest streak</th>
                            <th class="text-end">Winrate</th>
                            <th class="text-end">Leaderboard position</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Generate ranks for each entry in the Leaderboard. -->
                        {% for entry in leaderboard %}
                            <!-- Make sure the highscore is atleast 1. -->
                            {% if entry["streak_highscore"] > 0 %}
                            <tr>
                                <td class="text-start">{{ entry["user_name"] }}</td>
                                <td class="text-end">{{ entry["streak_highscore"] }}</td>
                                <td class="text-end">{{ entry["win_rate"] }}</td>
                                <td class="text-end">{{ entry["leaderbord_p"] }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        <!-- Script that renders the corresponding leaderboard.-->
        <script>
            // Get the select. 
            var select = document.getElementById("selected_leaderboard");
            // Hide all leaderboards except the first one.
            for (i = 2; i < select.length; i++)
            {
                document.getElementById(select[i].value).style.display = "none";
            }
            
            // Make sure the "last shown" leaderboard is the first one.
            last_shown = document.getElementById(select[1].value);

            // See when the user wants to see another leaderboard.
            select.addEventListener("change", function() {
                // Hide the leaderboard that was last displayed.
                last_shown.style.display = "none";
                // Show the leaderboard that the user wants to see.
                document.getElementById(select.value).style.display = "block";
                // Make sure the "last shown" leaderboard is updated.
                last_shown = document.getElementById(select.value);
            })
        </script>
    {% else %}
        <!-- In case there are no leaderboards, display this message. -->
        <h1>No leaderboards yet.</h1>
    {% endif %}
{% endblock %}