{% extends "layout.html" %}

{% block title %}
    Sounds 
{% endblock %}

{% block main %}
    <!-- Select form to what should be played. -->
    <div class="mb-3">
        <img src="../static/images/NicePng_play-icon-png-transparent_3926192.png" id="play" alt="playbutton" height="100px">
        <form name="select_form">
            <!-- Mode selection. -->
            <p>Please select the mode.</p>
            <select class="form-select mx-auto w-auto mb-3" id="selected_mode">
                <option value="" disabled selected>Mode</option>
                <option value="Intervals">Intervals</option>
                <option value="Notes">Notes</option>
            </select>
            <!-- Note selection (Incase the mode is Notes). -->
            <p id="note_guide">Select the note that should be played.</p>
            <select class="form-select mx-auto w-auto center mb-3" id="selected_note">
                <option id="first_note" value="null" disabled selected>Note</option>
                <option value="0">Do/C</option>
                <option value="1">Do#/C#</option>
                <option value="2">Re/D</option>        
                <option value="3">Re#/D#</option>
                <option value="4">Mi/E</option>
                <option value="5">Fa/F</option>
                <option value="6">Fa#/F#</option>
                <option value="7">Sol/G</option>
                <option value="8">Sol#/G#</option>
                <option value="9">La/A</option>
                <option value="10">La#/A#</option>%}
                <option value="11">Si/B</option>
                <option value="12">Do2/C2</option>
            </select>
            <!-- Interval selection (if the mode is Intervals). -->
            <p id="Interval_guide">Select the Interval distance.</p>
            <select class="form-select mx-auto w-auto center mb-3" name="Inter" id="interval_selector">
                <option value="null" disabled selected>Interval</option>
                <option value="0">U/P1</option>
                <option value="1">2m/m2</option>               
                <option value="2">2M/M2</option>                            
                <option value="3">3m/m3</option>                            
                <option value="4">3M/M3</option>
                <option value="5">4J/P4</option>                         
                <option value="6">4A/A4</option>                         
                <option value="7">5J/P5</option>                        
                <option value="8">6m/m6</option>                            
                <option value="9">6M/M6</option>                               
                <option value="10">7m/m7</option>                                
                <option value="11">7M/M7</option>
                <option value="12">8J/P8</option>
            </select>
            <!-- Direction selection (if the mode is Intervals). -->
            <p id="direction_guide">Select the direction in which the Interval should go.</p>
            <select class="form-select mx-auto w-auto center mb-3" id="direction_selector" name="Interval_direction">
                <option value="null" disabled selected>Direction</option>
                <option id="asc_option" value="asc">Ascendente/Ascending</option>
                <option id="desc_option" value="desc">Descendente/Descending</option>
                <option id="uni_option" value="uni">Unísono/Unison</option>
            </select>
        </form>
        <!-- Images that display what is being played. -->
        <p id="first_note_text">Note displayed on the scale.</p>
        <img class="center" width="10%" id="image1" src="" alt="Note on scale">
        <p id="second_note_text">Second note displayed on the scale.</p>
        <img class="center" width="10%" id="image2" src="" alt="Second Note on scale">
    </div>
    <script>
        // Images array.
        var note_images = new Array('../static/images/Do.png', '../static/images/DoS.png', '../static/images/Re.png', '../static/images/ReS.png', 
                    '../static/images/Mi.png', '../static/images/Fa.png', '../static/images/FaS.png', '../static/images/Sol.png', '../static/images/SolS.png', 
                    '../static/images/La.png', '../static/images/LaS.png', '../static/images/Si.png', '../static/images/Do2.png');
        // Get first image and text.
        var image1 = document.getElementById("image1");
        var image1_text = document.getElementById("first_note_text");
        // Hide first image and text for now.
        image1.style.display = "none";
        image1_text.style.display = "none";
        // Get second image and text.
        var image2 = document.getElementById("image2");
        var image2_text = document.getElementById("second_note_text");
        // Hide second image and text for now.
        image2.style.display = "none";
        image2_text.style.display = "none";
        // Get different selectors and their texts.
        var note_selector = document.getElementById("selected_note");
        var note_guide = document.getElementById("note_guide");
        var interval_selector = document.getElementById("interval_selector");
        var Interval_guide = document.getElementById("Interval_guide")
        var direction_selector = document.getElementById("direction_selector");
        var direction_guide = document.getElementById("direction_guide");
        // Hide all selectors and texts for now, except the mode selector.
        note_selector.style.display = "none";
        note_guide.style.display = "none";
        interval_selector.style.display = "none";
        Interval_guide.style.display = "none";
        direction_selector.style.display = "none";
        direction_guide.style.display = "none";
        // Mode selector.
        var select = document.getElementById("selected_mode");
        // Note name array.
        var note_names = ['Do/C', 'Do#/C#', 'Re/D', 'Re#/D#', 'Mi/E', 'Fa/F', 'Fa#/F#', 'Sol/G', 'Sol#/G#', 'La/A', 'La#/A#', 'Si/B', 'Do2/C2'];
        // Get the playbutton.
        var playbutton = document.getElementById("play");
        // Audio array.
        var notes = new Array('../static/sounds/piano/Do.mp3', '../static/sounds/piano/DoS.mp3', '../static/sounds/piano/Re.mp3', 
            '../static/sounds/piano/ReS.mp3', '../static/sounds/piano/Mi.mp3', '../static/sounds/piano/Fa.mp3', '../static/sounds/piano/FaS.mp3', 
            '../static/sounds/piano/Sol.mp3', '../static/sounds/piano/SolS.mp3', '../static/sounds/piano/La.mp3', '../static/sounds/piano/LaS.mp3', 
            '../static/sounds/piano/Si.mp3', '../static/sounds/piano/Do2.mp3');
        // Interval array.
        var interval_names = ['U/P1', '2m/m2', '2M/M2', '3m/m3', '3M/M3', '4J/P4', '4A/A4', '5J/P5', '6m/m6', '6M/M6', '7m/m7', '7M/M7', '8J/P8'];
        // Sounds
        sound = new Audio(notes[0]);
        sound2 = new Audio(notes[0]);
        // Notice when the note is changed.
        select.addEventListener("change", function() {
            // Incase any audio is playing it gets paused, and the images get hidden.
            playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
            sound.pause();
            sound2.pause();
            image2.style.display = "none";
            image2_text.style.display = "none";
            image1.style.display = "none";
            image1_text.style.display = "none";
            // Display the according stuff incase the mode is "Notes".
            if (select.value == "Notes")
            {
                interval_selector.style.display = "none";
                Interval_guide.style.display = "none";
                direction_selector.style.display = "none";
                direction_guide.style.display = "none";
                note_selector.style.display = "block";
                note_guide.style.display = "block";
                document.getElementById("first_note").innerHTML = "Note";
            }
            // Display the according stuff incase the mode is "Intervals.".
            else if (select.value == "Intervals")
            {
                interval_selector.style.display = "block";
                Interval_guide.style.display = "block";
                direction_selector.style.display = "block";
                direction_guide.style.display = "block";
                note_selector.style.display = "none";
                note_guide.style.display = "none";
            }
        });

        // Function that executes when Interval is changed.
        interval_selector.addEventListener("change",  function() {
            check_interval_selection();
        });

        // Function that executes when direction is changed.
        direction_selector.addEventListener("change", function() {
            if (direction_selector.value != "null"){
                check_interval_selection();
            }
        });

        // Function that executes when Note is changed.
        note_selector.addEventListener("change", function() {
            // If there is a sound playing, make sure to pause it.
            if (sound.paused == false)
            {
                sound.pause();
                playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
            }
            // Get new sound.
            sound = new Audio(notes[note_selector.value]);
            // Display image correctly incase the user is on mobile.
            if (screen.width < 480)
                {
                    image1.style.width = "50%";
                }
            // Display Image accoring to selected note. 
            image1.src = note_images[note_selector.value];
            image1.style.display = "block";
            image1_text.style.display = "block";
        });

        // Variable for the current sound.
        var currentsound = sound;
        // Variable to see if Interval playing has started.
        started = false;

        // Function that executes when the playbutton is clicked.
        playbutton.onclick = function() {
            // Check for selected mode, and make sure other is stuff is also selected.
            if (select.value == "Notes" && note_selector.value != "null")
            {
                // In case the sound is paused, play it.
                if (sound.paused)
                {
                    sound.play();
                    playbutton.src = "../static/images/Pause-Button-Transparent.png";
                    sound.addEventListener("ended", function() {
                        playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                        sound.removeEventListener("ended");
                    })
                }
                // Else, pause it.
                else
                {
                    sound.pause();
                    playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                }
            }
            // Stuff that executes if mode is set to "Intervals".
            else if (select.value == "Intervals" && interval_selector.value != "null" && direction_selector.value != "null")
            {
                // See if 2 sounds are currently being played.
                if (currentsound == 'both')
                {
                    // If the sounds are paused, play them.
                    if (sound.paused)
                    {
                        playbutton.src = "../static/images/Pause-Button-Transparent.png";
                        sound.play();
                        sound2.play();
                    }
                    // If the sounds are playing, pause them.
                    else 
                    {
                        playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                        sound.pause();
                        sound2.pause();
                    }
                }
                // Stuff that executes if the current sound is paused.
                if (currentsound.paused)
                {
                    // Make sure everything necessary is selected.
                    if (interval_selector.value == "null" || direction_selector.value == "null")
                    {
                        return;
                    }
                    playbutton.src = "../static/images/Pause-Button-Transparent.png";
                    // If Interval was already started, continue it.
                    if (started == true)
                    {
                        currentsound.play();
                    }
                    // If not, start the interval.
                    else
                    {
                        // Play Interval correctly.
                        started = true;
                        currentsound = sound;
                        sound.addEventListener('ended', function() {
                            currentsound = sound2;
                            sound2.addEventListener('ended', function() {
                                currentsound = 'both';
                                sound.play();
                                sound2.play();
                                sound.addEventListener("ended", function() {
                                    playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                                    started = false;
                                    currentsound = sound;
                                    sound2.removeEventListener("ended");
                                    sound.removeEventListener("ended");
                                }, {once : true});
                                sound2.addEventListener("ended", function() {
                                    playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                                    started = false;
                                    currentsound = sound;
                                    sound.removeEventListener("ended");
                                    sound2.removeEventListener("ended");
                                }, {once : true});
                                sound2.removeEventListener("ended");
                            }, {once : true});
                            sound2.play();
                            sound.removeEventListener("ended");
                        }, {once : true});
                        sound.play();
                    }
                }
                // In case on sound is currently being played, pause it.
                else
                {
                    currentsound.pause();
                    playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
                }
            }
        }

        // Function to check the selected Interval.
        function check_interval_selection() {
            playbutton.src = "../static/images/NicePng_play-icon-png-transparent_3926192.png";
            // If the Interval is unison, direction can only be unison.
            if (interval_selector.value == 0)
            {
                direction_selector.value = "uni";
                document.getElementById("asc_option").style.display = "none";
                document.getElementById("desc_option").style.display = "none";
                document.getElementById("uni_option").style.display = "block";
            }
            // If the Interval is no unison, the direction cannot be unison.
            else
            {
                document.getElementById("asc_option").style.display = "block";
                document.getElementById("desc_option").style.display = "block";
                document.getElementById("uni_option").style.display = "none";
                if (direction_selector.value == "uni")
                {
                    direction_selector.value = "null";
                }
            }
            // Pause sounds if they are not.
            if (sound.paused == false || sound2.paused == false)
            {
                sound.pause();
                sound2.pause();
                sound.currentTime = 0;
                sound2.currentTime = 0;
            }
            // Populate sounds depending on direction.
            if (direction_selector.value == "asc")
            {
                sound = new Audio(notes[0]);
                sound2 = new Audio(notes[interval_selector.value]);
            }
            else if (direction_selector.value == "desc")
            {
                sound = new Audio(notes[12]);
                sound2 = new Audio(notes[12-interval_selector.value]);
            }
            else if (direction_selector.value == "uni")
            {
                sound = new Audio(notes[0]);
                sound2 = new Audio(notes[0]);;
            }
            // Display images according to Interval and direction.
            if (interval_selector.value != "null" && direction_selector.value != "null")
            {
                // Display correctly on mobile.
                if (screen.width < 480)
                {
                    image2.style.width = "50%";
                    image1.style.width = "50%";
                }
                if (direction_selector.value == "asc")
                {
                    image1.src = note_images[0];
                    image2.src = note_images[interval_selector.value];
                }
                else if (direction_selector.value == "desc")
                {
                    image1.src = note_images[12];
                    image2.src = note_images[12-interval_selector.value];
                }
                else
                {
                    image1.src = note_images[0];
                    image2.src = note_images[0];
                }
                image1.style.display = "block";
                image1_text.style.display = "block";
                image2.style.display = "block";
                image2_text.style.display = "block";
            }
        };
    </script>
{% endblock %}